.dropdownlarge {
  display: flex;
  background-color: red;
  position: absolute;
  width: 1023px;
  height: 47px;
  left: 208px;
  top: 484px;
  border: 1px solid yellow;
}

.respect {
  position: absolute;
  left: 1.77%;
  right: 88.46%;
  top: 3.12%;
  bottom: 78.4%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;

  display: flex;
  align-items: center;

  color: #ffffff;
  z-index: 1;
}

.dropdown-close-response {
  position: absolute;
  background-color: red;
  display: flex;
  width: 1023px;
  height: 47px;
  left: 208px;
  top: 656px;
  border: 1px solid yellow;
}
.responsabilite {
  position: absolute;
  left: 15.7%;
  right: 71.8%;
  top: 76.33%;
  bottom: 20.35%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;

  display: flex;
  align-items: center;

  color: white;
  z-index: 1;
  margin-left: -145px;
  margin-top: -20px;
}

.dropdown-close-service {
  display: flex;
  background-color: red;
  position: absolute;
  width: 1023px;
  height: 47px;
  left: 208px;
  top: 569px;
  border: 1px solid yellow;
}
.service {
  display: flex;
  position: absolute;
  left: 15.7%;
  right: 78.12%;
  top: 68.81%;
  bottom: 27.87%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */

  display: flex;
  align-items: center;

  color: white;

  z-index: 1;
  margin-left: -145px;
  margin-top: -20px;
}

.dropdownlarge-close-fiable {
  display: flex;
  background-color: red;
  position: absolute;
  width: 1023px;
  height: 47px;
  left: 208px;
  top: 406px;
  border: 1px solid yellow;
}
.fiabilite {
  position: absolute;
  left: 1.77%;
  right: 88.75%;
  top: 11.93%;
  bottom: 15.72%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;

  display: flex;
  align-items: center;

  color: #fff;
  z-index: 1;
}

.icone {
  margin-left: 900px;
  width: 22px;
}
.toogle1 {
  position: absolute;
  top: 45px;
  width: 1023px;
  height: 184px;
  margin-bottom: 56px;
  border: 1px solid yellow;
  background-color: antiquewhite;
  color: crimson;
}
.toogle4 {
  position: absolute;
  top: 47px;
  width: 1023px;
  height: 184px;
  margin-bottom: 56px;
  border: 1px solid black;
  background-color: antiquewhite;
  color: crimson;
  padding-left: 2px;
}
