.Error {
  position: relative;
  width: 1440px;
  height: 1024px;

  background: #ffffff;
}

.Error p {
  position: absolute;
  left: 20.49%;
  right: 18.96%;
  top: 59.18%;
  bottom: 35.84%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  /* or 51px */

  display: flex;
  align-items: flex-end;

  color: #ff6060;
  width: 872px;
  height: 51px;
}
.Error .retour {
  position: absolute;
  left: 40.14%;
  right: 40.14%;
  top: 81.93%;
  bottom: 15.53%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  /* identical to box height, or 26px */

  display: flex;
  align-items: flex-end;
  text-decoration-line: underline;

  color: #ff6060;
}

.Error h1 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  line-height: 142.6%;
  /* or 411px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ff6060;
}

.Error .nombre {
  position: absolute;
  width: 597px;
  height: 263px;
  left: 432px;
  top: 277px;
}
.Error .nombre h1 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  line-height: 142.6%;
  /* or 411px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ff6060;
}

/* @media screen and (min-width: 1440px) {
  .Error {
    position: relative;
    width: 375px;
    height: 812px;

    background: #ffffff;
  }
  .retour {
    position: absolute;
    left: 20.27%;
    right: 20.8%;
    top: 68.6%;
    bottom: 28.94%;
  }
  .Error .p {
    position: absolute;
    left: 15.2%;
    right: 15.47%;
    top: 45.81%;
    bottom: 47.78%;
  }
  .Error .nombre h1 {
    position: absolute;
    width: 198px;
    height: 99px;
    left: 88px;
    top: 262px;
  }
  .t {
    position: absolute;
    width: 335px;
    height: 47px;
    left: 20px;
    top: 20px;
  }
} */
