.Footer {
  position: relative;
  width: 1440px;
  height: 209px;
  /* top: 100%; */
  /* margin-bottom: 300px; */
  background: #000000;
  /* margin-top: 500px; */
}
.Footer p {
  position: absolute;
  left: 32.15%;
  right: 32.22%;
  top: 64.11%;
  bottom: 13.88%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */

  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #ffffff;
}
.Footer .logo {
  position: absolute;
  left: 45.76%;
  right: 45.76%;
  top: 31.58%;
  bottom: 49.55%;
}
.Footer .LOGO {
  color: white;
}
