.Header {
  position: absolute;
  width: 1240px;
  height: 68px;
  left: 100px;
  top: 40px;
}
.Header .Nav {
  position: absolute;
  left: 75.08%;
  right: 0%;
  top: 25%;
  bottom: 25%;
  width: 300px;
  margin: 26px 0;
  display: flex;
}

/* .Header .Nav {
  margin: 10px;
  padding: 10px;
  position: relative; 
} */

.Header .Nav .lien1,
.lien2 {
  display: inline-block;
  margin-right: 50px;
  color: red;
  text-decoration: none;
}

.Header .Nav .active {
  border-bottom: 2px solid red;
}

.LOGO {
  position: absolute;
  left: 0%;
  right: 83.04%;
  top: 0%;
  bottom: 0%;
  height: 68px;
  width: 210px;
}
