/* .Home {
  position: absolute;
  left: 75.08%;
  right: 13.95%;
  top: 25%;
  bottom: 25%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;

  display: flex;
  align-items: flex-end;
  text-align: right;
  text-decoration-line: underline;

  color: #ff6060;
} */

.Home {
  position: relative;
  width: 1440px;
  height: 1024px;

  background: #ffffff;
}
.Body {
  margin-top: -100px;
  position: absolute;
  width: 1240px;
  height: 1095px;
  left: 100px;
  top: 171px;
  /* margin-top: -150px; */
}
/* .Body .section1 {
  position: absolute;
  width: 1240px;
  height: 223px;
  left: 100px;
  top: 171px;
} */
